// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$color--gray: 			#cccccc;
$color--gray--dark: 			#999;
$color--red:			#a6040f;
$color--red--light:		#e16a77;
$color--red--light--hover:		#c65864;
$color--white:			#ffffff;
$color--white--smoke:	#f1f1f1;
$brand-primary:         $color--red;