@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";

@font-face {
  font-family: 'jura';
  src: url('../fonts/JuraDemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/JuraDemiBold.otf')  format('opentype'),
	     url('../fonts/JuraDemiBold.woff') format('woff'), url('../fonts/JuraDemiBold.ttf')  format('truetype'), url('../fonts/JuraDemiBold.svg#JuraDemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	background-color: $color--gray;
}

h1, h2, h3, h4, h5, h6{
	@include ff-ss(jura);
}

.wrap{
	background-color: $color--white;
	padding-right: 30px;
	padding-left: 30px;
}

.navbar{
	min-height: 40px;
	margin-bottom: 0;
	&.navbar-default{
		background-color: transparent;
		border-color: transparent;
		.container{
			background-color: $color--red;
			background-image: url(../images/nav__bg.png);
			width: auto;
			nav{
				ul{
					li{
						a{
							text-transform: uppercase;
							color: $color--white;
							@include ff-ss(jura);
							font-size: 12.25px;
							padding: 10px; 
						}
					}
					li.current-menu-item.active{
					&:before{
						content: url(../images/nav__item--active.png);
						position: absolute;
						top: 0;
						left: -7px;
					}
						a{
							color: $color--red;
  							background-color: $color--white;
  							padding-bottom: 7px;
						}
					&:after{
						content: url(../images/nav__item--active--2.png);
						position: absolute;
						top: 0;
						right: -7px;
					}
					}	
				}
			}
		}
	}
}

.logo{
	margin: 0;
	padding: 0;
	a{
		span{
			position: relative;
			display: block;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
	}
}

.header--super{
	.wrap.lang{
		background-color: $color--white--smoke;
		.content{
		@include make-row(); 
		  margin-left: 0;
		  margin-right: 0;
			.header__lang{
				text-align: right;
				padding: 3px 0;
			}
		}
	}
	.wrap.branding{
		padding: 20px 0; 
		.content{
		@include make-row();  
			.header__branding, .header__info{
				 @include make-sm-column(6);
			}
			.header__info{
				text-align: right;
				padding-top: 32px;
			}
		}
	}
}

.navbar-form.navbar-search{
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: none;
	.input-group{
		background-image: url(../images/search-form__bg.png);
		background-repeat: repeat;
		input{
			height: 30px;
			border-radius: 0;
			box-shadow: none;
			border: 1px solid transparent;
			background-color: transparent;
			color: #ff8996;
			&::-webkit-input-placeholder { /* WebKit browsers */
			    color:    $color--red--light;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    $color--red--light;
			   opacity:  1;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    $color--red--light;
			   opacity:  1;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10+ */
			   color:    $color--red--light;
			}

			&:focus{
				
				box-shadow: none;
				border-color: transparent;
				&::-webkit-input-placeholder { /* WebKit browsers */
			   	 color:    $color--red--light--hover;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    $color--red--light--hover;
			   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color:    $color--red--light--hover;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10+ */
				   color:    $color--red--light--hover;
				}
			}
		}
		.input-group-btn{
			.search-submit{
				border-radius: 0;
				padding: 4px 12px;
				border-color: transparent;
				background-color: transparent;
				color: $color--red--light;
			}
		}
	}
}

.header__lang{
	ul.menu{
		padding-left: 0;
		list-style: none;
		margin-left: -5px;
		width: auto;
		margin-bottom: 0;
		li{
			display: inline-block;
			padding-left: 0px;
			padding-right: 0px;
			a{
				color: $color--gray--dark;
				padding: 5px 10px;
				img{
					vertical-align: baseline;
				}
			}
		}
		li.current-lang{
			a{
				color: $color--gray;
				background-color: $color--white;
			}
		}
	}
}

@media (min-width: $screen-sm){
	.navbar-nav>li>a {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	.logo {
		a{
			width: 213px;
			height: 82px;
			display: inline-block;
			line-height: 1;
			margin: 0;
			background-image: url(../images/logo--sm.png);
		}
	}
	.navbar-form.navbar-search{
		width: 18%;
	}
}