@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";

body{
	background-color: $color--gray;
}

.wrap{
	background-color: $color--white;
}

.navbar{
	min-height: 40px;
	margin-bottom: 0;
	&.navbar-default{
		background-color: transparent;
		border-color: transparent;
		.container{
			background-color: $color--red;
			background-image: url(../images/nav__bg.png);
			width: auto;
			nav{
				ul{
					li{
						a{
							text-transform: uppercase;
							color: $color--white
						}
					}
					li.current-menu-item.active{
					&:before{
						content: url(../images/nav__item--active.png);
						position: absolute;
						top: 0;
						left: -7px;
					}
						a{
							color: $color--red;
  							background-color: $color--white;
  							padding-bottom: 7px;
						}
					&:after{
						content: url(../images/nav__item--active--2.png);
						position: absolute;
						top: 0;
						right: -7px;
					}
					}	
				}
			}
		}
	}
}

.logo{
	margin: 0;
	padding: 0;
	a{
		span{
			position: relative;
			display: block;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
	}
}

.header--super{
	.wrap.lang{
		background-color: $color--white--smoke;
		.content{
		@include make-row(); 
			.header__lang{
				text-align: right;
				padding: 3px 0;
			}
		}
	}
	.wrap.branding{
		padding: 20px 0; 
		.content{
		@include make-row();  
			.header__branding, .header__info{
				 @include make-sm-column(6);
			}
			.header__info{
				text-align: right;
				padding-top: 32px;
			}
		}
	}
}
.header__branding{
	
}

@media (min-width: $screen-sm){
	.navbar-nav>li>a {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	.logo {
		a{
			width: 213px;
			height: 82px;
			display: inline-block;
			line-height: 1;
			margin: 0;
			background-image: url(../images/logo--sm.png);
		}
	}
}